header{
	background-color: black;
	margin: 0;
	padding: 50px;
}

body{
	margin: 0;
	background-color: whitesmoke;
}


/* corpo da pagina */
.container{
	margin-top: 0px;
  display: flex;
 	flex-direction: row;
  justify-content: center;
 	align-items: stretch;
}

.esquerda{
  background-color: black;
  width: 40em;
  height: auto;
  text-align: left;
  font: arial;
}

.meio{
  background-color: whitesmoke;
  width: 290em;
  height: auto;
  text-align: center;
  font: arial;

}


 /* menu Principal vertical*/
nav{
	background-color: black;
}

.dp-menu ul{                            
	background-color: black;
	justify-content: left;
	padding: 10px;
	margin-left: 2px;
}

.dp-menu ul li{
	padding: 5px;
}

.dp-menu ul li a{
	color: whitesmoke;
	text-align: left;
	text-decoration: none;
	font-size: 10;
	font: arial;
	padding:1px;
	transition: background .7s;
}

.dp-menu ul li a:hover{
	background-color: grey;

}



/*  letras */

h4{
	color: whitesmoke;
	font: arial;
	font-size: 20px;
	text-align: center;
}

h2{
	font: Arial;
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
}

p{
	font: arial;
	padding: 10px 60px;
	text-justify: auto;
	text-align: left;

}


/*imagens*/

.logo{
	width: 410px;
	height: 100px;
}